.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 56px;
    }
  }
}

.category {
  &__photos {

  }

  &__link {

  }

  &__photo {

  }

  &__title {
    
  }

}
