.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 56px;
    }

    @include constentPaddingInline;
  }

  &__button {
    padding-top: 56px;
    padding-bottom: 120px;
    @include button;
    @include onDesktop {
      margin-right: auto;
      width: 324px;
      height: 56px;
    }
  }
}

.category {
  &__photos {
    @include pageGrid;
    margin-bottom: 16px;

    @include onDesktop {
        grid-column: span 6;
      }
  }

  &__link {
    &--left {
      @include hover(transform, scale(1.08));

      @include onTablet {
        grid-column: span 3;
      }
      @include onDesktop {
        grid-column: span 6;
      }
    }
   &--right {
      @include hover(transform, scale(1.08));

      @include onTablet {
        grid-column: span 3;
      }
      @include onDesktop {
        grid-column: span 6;
      }
   }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
  }

}
