.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include onTablet{
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../../images/icons/icon-phone2x.png);
    position: relative;

    @include onDesktop {
      &::after {
        content: "+1 234 5555-55-55";
        position: absolute;
        left: -105px;
        width: 110px;
        bottom: 5px;
        color: $main-text-color;
        display: block;
        transform: scale(0);
        transform-origin: right center;
        font-size: 12px;
        font-weight: 700;
        transition: transform 0.3s;
      }

      &:hover::after {
        transform: scale(1);
      }
    }
  }

  &--menu {
    background-image: url(../../images/icons/icon-burger-menu2x.png);

    &:hover {
      background-image: url(../../images/icons/icon-burger-menu-hover2x.png);
    }
  }

  &--close {
    background-image: url(../../images/icons/icon-close2x.png);
  }
}





