.recommended {
  &__products {
    @include pageGrid;
    display: grid;
    row-gap: 40px;
    cursor: pointer;
  }

  &__product {
    grid-column: 1/-1;

    @include onTablet {
      grid-column: 2/-2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  .product__photo {
    @include hover(transform, scale(1.1));
  }
}
